.card-route-paquete {
    height: 150px;
    width: 300px;
    background-color: #16181d;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  .title-paquete {
    font-size: 20px;
  }
  .text-paquete {
    text-align: center;
    color: #929292;
  }
  
  .link-paquete {
    font-size: 18px;
    text-decoration: none;
    color: #43bff9;
  }
  .link-paquete:hover {
    text-decoration: underline;
  }