.section-routes-articles {
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 80px 10px 10px 10px;
}

@media (max-width: 795px) {
  .section-routes-articles {
    padding-top: 16px;
  }
}